### house price prediction using NN

In [134]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [135]:
data = pd.read_csv('Train HPP NN/Train_Data.csv')

In [136]:
#80 features -->
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [137]:
data.dropna(axis=1,inplace=True)

In [138]:
data.drop(['Id', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal'],axis=1,inplace=True)

In [139]:
X = data.drop(['SalePrice'],axis=1)
Y = pd.DataFrame(data['SalePrice'],columns=['SalePrice'])

In [140]:
X.head()

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,GarageCars,GarageArea,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,MoSold,YrSold,SaleType,SaleCondition
0,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,2,548,Y,0,61,0,2,2008,WD,Normal
1,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,...,2,460,Y,298,0,0,5,2007,WD,Normal
2,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,...,2,608,Y,0,42,0,9,2008,WD,Normal
3,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,...,3,642,Y,0,35,272,2,2006,WD,Abnorml
4,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,...,3,836,Y,192,84,0,12,2008,WD,Normal

In [141]:
Y.head()

   SalePrice
0     208500
1     181500
2     223500
3     140000
4     250000

In [142]:
X.head()

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,GarageCars,GarageArea,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,MoSold,YrSold,SaleType,SaleCondition
0,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,2,548,Y,0,61,0,2,2008,WD,Normal
1,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,...,2,460,Y,298,0,0,5,2007,WD,Normal
2,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,...,2,608,Y,0,42,0,9,2008,WD,Normal
3,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,...,3,642,Y,0,35,272,2,2006,WD,Abnorml
4,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,...,3,836,Y,192,84,0,12,2008,WD,Normal

In [143]:
## checking data -->
# chk = []
# for col in X.columns:
#     chk.append(np.unique(X[col]))

In [144]:
# chk

In [145]:
cor = data.corrwith(data['SalePrice'],method='pearson')

In [146]:
cor1 = pd.DataFrame(cor,columns=['Correlation'])

In [147]:
cor1.head()

             Correlation
MSSubClass     -0.085299
LotArea         0.264500
OverallQual     0.796618
OverallCond    -0.081109
YearBuilt       0.528573

In [148]:
fields1 = cor1.loc[cor1['Correlation'] > 0.3 ]

In [149]:
# plt.style.use('seaborn')
# sns.heatmap(cor,cmap='rainbow')
# plt.show()

In [150]:
fields1.index

Index(['OverallQual', 'YearBuilt', 'YearRemodAdd', 'BsmtFinSF1', 'TotalBsmtSF',
       '1stFlrSF', '2ndFlrSF', 'GrLivArea', 'FullBath', 'HalfBath',
       'TotRmsAbvGrd', 'Fireplaces', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'SalePrice'],
      dtype='object')

In [151]:
X = data[fields1.index]

In [152]:
X.drop(['SalePrice'],axis=1,inplace=True)

/Users/apoorvgarg/PycharmProjects/CB_lecture/venv/lib/python3.8/site-packages/pandas/core/frame.py:4157: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [153]:
X.shape

(1100, 16)

In [154]:
X

,OverallQual,YearBuilt,YearRemodAdd,BsmtFinSF1,TotalBsmtSF,1stFlrSF,2ndFlrSF,GrLivArea,FullBath,HalfBath,TotRmsAbvGrd,Fireplaces,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF
0,7,2003,2003,706,856,856,854,1710,2,1,8,0,2,548,0,61
1,6,1976,1976,978,1262,1262,0,1262,2,0,6,1,2,460,298,0
2,7,2001,2002,486,920,920,866,1786,2,1,6,1,2,608,0,42
3,7,1915,1970,216,756,961,756,1717,1,0,7,1,3,642,0,35
4,8,2000,2000,655,1145,1145,1053,2198,2,1,9,1,3,836,192,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,6,2006,2006,24,1314,1314,0,1314,2,0,6,1,2,440,0,22
1096,6,1914,2006,0,684,773,582,1355,1,1,7,0,0,0,136,0
1097,8,1986,1986,0,1074,1088,0,1088,1,1,5,0,2,461,0,74
1098,4,1936,1950,672,672,757,567,1324,1,0,6,0,1,240,0,0
1099,7,1978,1978,704,1271,1601,0,1601,2,0,7,1,2,478,0,0

In [155]:
X_data = X.values

In [156]:
# Normalisation --> Standard Scalar
mean = np.mean(X_data,axis=0)
std = np.std(X_data,axis=0)
X_data = (X_data - mean)/std

In [157]:
# X_data

In [158]:
class NeuralNetwork:
    def __init__(self,input_size,layers,output_size):
        np.random.seed(0)
        model = {'W1': np.random.randn(input_size,layers[0]),
                 'b1': np.zeros((1,layers[0])),
                 'W2': np.random.randn(layers[0],layers[1]),
                 'b2': np.zeros((1,layers[1])),
                 'W3': np.random.randn(layers[1],output_size),
                 'b3': np.zeros((1,output_size))}

        self.model = model

    def forward(self,x):

        W1,W2,W3 = self.model['W1'],self.model['W2'],self.model['W3']
        b1,b2,b3 = self.model['b1'],self.model['b2'],self.model['b3']

        z1 = np.dot(x,W1) + b1

        z2 = np.dot(z1,W2) + b2

        z3 = np.dot(z2,W3) + b3

        #Store the outputs of each layer for back-propagation
        self.activation_outputs = (z1,z2,z3)

    def backward(self,x,y,learning_rate=0.001):

        W1,W2,W3 = self.model['W1'],self.model['W2'],self.model['W3']
        a1,a2,y_ = self.activation_outputs

        delta3 = (y_ - y)*a2

        dw3 = np.dot(a2.T,delta3) #)h2+1,C) => (h2+1,m) X (m,C)
        db3 = np.sum(delta3,axis=0)

        delta2 = (1-np.square(a2))*np.dot(delta3,W3.T)  #(m,h2+1) => (m,h2+1) *(m,C X C,h2+1)
        dw2 = np.dot(a1.T,delta2)
        db2 = np.sum(delta2,axis=0)

        delta1 = (1-np.square(a1))*np.dot(delta2,W2.T)
        dw1 = np.dot(x.T,delta1)
        db1 = np.sum(delta1,axis=0)

        self.model['W1'] -= learning_rate*dw1
        self.model['W2'] -= learning_rate*dw2
        self.model['W3'] -= learning_rate*dw3

        self.model['b1'] -= learning_rate*db1
        self.model['b2'] -= learning_rate*db2
        self.model['b3'] -= learning_rate*db3



    def predict(self,x):
        y_out = self.forward(x)
        return np.argmax(y_out,axis=1)

    def summary(self):
        W1,W2,W3 = self.model['W1'],self.model['W2'],self.model['W3']
        a1,a2,y_ = self.activation_outputs

        print("W1 ",W1.shape)
        print("A1 ",a1.shape)

        print("W2 ",W2.shape)
        print("A2 ",a2.shape)

        print("W3 ",W3.shape)
        print("Y_ ",y_.shape)

In [159]:
def loss(y_oht,p):
    l = -np.mean(y_oht*np.log(p))
    return l

def one_hot(y,depth):
    m = y.shape[0]
    y_oht = np.zeros((m, depth))
    y_oht[np.arange(m), y] = 1
    return y_oht