### Stock Price Prediction Challenge

In [1]:
from keras.layers import SimpleRNN,Dense,Softmax

In [2]:
from keras.models import Sequential

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
x_df = pd.read_csv('RNN challenge/Train/x_train.csv')

In [11]:
y_df = pd.read_csv('RNN challenge/Train/y_train.csv')

In [12]:
x_df.head()

     High
0  332.83
1  333.87
2  330.75
3  328.77
4  322.29

In [13]:
y_df.head()

     High
0  333.87
1  330.75
2  328.77
3  322.29
4  315.72

In [17]:
x_train = x_df.values
y_train = y_df.values

In [19]:
x_train.shape,y_train.shape

((1257, 1), (1257, 1))

In [24]:
model = Sequential()
model.add(SimpleRNN(2))
model.add(Dense(1,activation='relu'))

In [22]:
model.summary()

ValueError: This model has not yet been built. Build the model first by calling `build()` or calling `fit()` with some data, or specify an `input_shape` argument in the first layer(s) for automatic build.